# The supplied password must be between 6-72 characters long and must satisfy at least 3 of password complexity requirements from the following:
# - Contains an uppercase character
# - Contains a lowercase character
# - Contains a numeric digit
# - Contains a special character
# - Control characters are not allowed
vm_password="XXXXXX"
